<!DOCTYPE html>
<html>
<head>
  <title>Nearby Restaurants</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ERB::Util.url_encode(ENV['GOOGLE_MAPS_API_KEY']) %>&libraries=places,geometry&callback=initMap"></script>
<script>
  function initMap() {
    var searchParams = <%= @search_params.to_json.html_safe %>;

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var currentLocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        var radius = parseInt(searchParams.walking_time) * 80; // 80 meters per minute

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: currentLocation
        });

        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch({
          location: currentLocation,
          radius: radius,
          type: ['restaurant']
        }, function(results, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            var restaurantsContainer = document.getElementById('restaurants');
            restaurantsContainer.innerHTML = '<h2>検索結果</h2>';

            results.forEach(function(place) {
              var marker = new google.maps.Marker({
                position: place.geometry.location,
                map: map,
                title: place.name
              });

              var card = document.createElement('div');
              card.classList.add('card');

              service.getDetails({ placeId: place.place_id }, function(placeDetails, status) {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                  var openingHoursText = placeDetails.opening_hours ? placeDetails.opening_hours.weekday_text.join('<br>') : '不明';
                  var image = placeDetails.photos ? placeDetails.photos[0].getUrl() : '';
                  card.innerHTML = `
                    <img src="${image}" alt="${placeDetails.name}">
                    <div class="card-content">
                      <h3>${placeDetails.name}</h3>
                      <ul>
                        <li>住所: ${placeDetails.formatted_address}</li>
                        <li>電話番号: ${placeDetails.formatted_phone_number || '不明'}</li>
                        <li>徒歩: ${calculateWalkingTime(currentLocation, placeDetails.geometry.location)}分</li>
                        <li>営業状況: ${placeDetails.opening_hours && placeDetails.opening_hours.isOpen() ? '営業中' : '休業中'}</li>
                        <li>営業時間: ${openingHoursText}</li>
                        <li>混雑状況: ${placeDetails.waiting_time ? placeDetails.waiting_time : '不明'}分待ち</li>
                      </ul>
                    </div>
                  `;
                  card.addEventListener('click', function() {
                    window.location.href = `<%= store_details_path %>?name=${placeDetails.name}&walking_time=${calculateWalkingTime(currentLocation, placeDetails.geometry.location)}&business_status=${placeDetails.opening_hours && placeDetails.opening_hours.isOpen() ? '営業中' : '休業中'}&business_hours=${openingHoursText}&waiting_time=${placeDetails.waiting_time ? placeDetails.waiting_time : '不明'}&phone_number=${placeDetails.formatted_phone_number || '不明'}&address=${placeDetails.formatted_address}`;
                  });
                  restaurantsContainer.appendChild(card);
                }
              });
            });
          } else {
            console.error('PlacesServiceStatus Error:', status);
          }
        });
      });
    } else {
      alert("Geolocation is not supported by this browser.");
    }
  }

  function calculateWalkingTime(start, end) {
    var distance = google.maps.geometry.spherical.computeDistanceBetween(start, end);
    var walkingSpeedMetersPerMinute = 80;
    return Math.round(distance / walkingSpeedMetersPerMinute);
  }
</script>
</head>
<body>
  <div class="home-container">
    <div id="flash-messages"></div>
    <!-- マップコンテナを追加 -->
    <div id="map" style="height: 400px; width: 60%;"></div>
    <div id="restaurants"></div>
  </div>
</body>
</html>