<div class="community">
  <h2>みんなのコメント</h2>
  <div class="comments-section">
    <div class="comment">
      <img src="<%= image_path('kkrn_icon_user_5.png') %>" alt="User Image" class="user-image">
      <div class="comment-content">
        <p class="user-name">ユーザー名: ○○</p>
        <p class="comment-text">テキストテキストテキスト</p>
      </div>
    </div>

    <hr class="underline">

    <div class="comment-form">
      <input type="text" placeholder="コメントを入力" class="comment-input">
    </div>
  </div>
</div>