body {
  background: #ffcc99;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  font-size: 25px;
  font-size: 25px;
  margin-left: 50%;
}

.button-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

button {
  padding: 20px 30px;
  background-color: #fff;
  cursor: pointer;
  font-size: 18px;
  border-radius: 15px;
  font-weight: bold;
  transition: all 0.3s;
}

button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .main-container {
    width: 90%;
  }

  button {
    width: 100%;
    padding: 10px 0;
  }

  h1 {
    font-size: 24px;
  }
}

/* ヘッダー */
.site-header {
  background-color: #fff;
  color: #000;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  max-width: 1800px;
  margin: 0 auto;
}

.logo {
  font-size: 10px;
  margin-right: auto;
  text-decoration: none;
  color: inherit;
}

.logo:link,
.logo:visited,
.logo:hover,
.logo:active {
  color: inherit;
  text-decoration: none;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-right: 40px;
}

.main-nav a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, text-decoration 0.3s ease;
}

.main-nav a:hover {
  text-decoration: underline;
  text-decoration-color: #000;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
  
.menu-icon-bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 2px 0;
}


.content {
  flex: 1;
}

/* フッダー */
footer {
  background-color: white;
  width: 100%;
  padding: 20px 0;
  position: relative;
  bottom: 0;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.footer-links li {
  display: inline;
}

.footer-links a {
  color: black;
  text-decoration: none;
}

/* 新規登録 */
.registration-form {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.registration-form h2 {
  margin-bottom: auto;
}

.form-group {
  margin-bottom: 12px;
  text-align: left;
}

.form-control {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
}

.btn-primary {
  padding: 12px 100px;
  background-color: #82AD24;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 20px;
  transition: all 0.3s;
}

.btn-primary:hover {
  opacity: 0.8;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
}

/* ログイン */
.login-container {
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.login-form {
  display: flex;
  margin-bottom: 20px;
}

.login-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.forgot-password {
  display: block;
  margin-bottom: 20px;
  color: #0B57D0;
  text-decoration: none;
  text-align: right;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-btn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.login-btn-primary, .login-btn-secondary {
  flex: 1;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s;
}

.login-btn-primary:hover, .login-btn-secondary:hover {
  opacity: 0.8;
}

.login-btn-primary {
  background-color: #82AD24;
  color: #fff;
}

.login-btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

/* 検索条件 */
.sessions-container {
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.sessions-form {
  display: flex;
  margin-bottom: 10px;
}

.sessions-control {
  width: 100%;
  border-radius: 5px;
}

.sessions-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.sessions-btn-primary {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s;
  background-color: #82AD24;
  color: #fff;
  margin-top: 20px;
}

.sessions-btn-primary:hover {
  opacity: 0.8;
}

/* 店舗詳細 */
.store-details-container {
  display: flex;
  align-items: flex-start;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto;
}

.store-details-back-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
}

.store-details-section {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  flex-grow: 1;
}

.store-details-section h2 {
  text-align: left;
  margin-left: 20px;
}

.store-details-section p {
  text-align: left;
}

.store-details-text {
  margin-left: 40px;
}

.store-details-btn {
  display: block;
  margin-left: auto;
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 14px;
}

.divider {
  border-bottom: 1px solid black;
  margin: 20px 0;
}

.store-details-second-section {
  border: 1px solid black;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffcc99;
  width: 70%;
}

/* ホーム */
#map {
  height: 400px;
  width: 60%;
}

#restaurant-list-container {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 60%;
  margin-top: 20px;
}

/* レビュー */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.overlay.active {
  display: block;
}

.review-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 8px;
  z-index: 1001;
  width: 60%;
}

.review-form.active {
  display: block;
}

.review-form-content {
  display: flex;
  flex-direction: column;
}

.review-form-content .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.review-form-content label {
  flex: 0 0 100px;
}

.review-form-content textarea,
.review-form-content select,
.review-form-content input[type="file"],
.review-form-content input[type="text"] {
  flex: 1;
}

.stars {
  display: flex;
}

.star {
  font-size: 24px;
  cursor: pointer;
  color: #FFFFFF;
  -webkit-text-stroke: 1px black;
  margin-right: 5px;
  transition: color 0.3s;
}

.star:hover,
.star.selected,
.star.highlighted {
  color: #FBBC04;
}

.review-form-content .form-group:last-child {
  justify-content: flex-end;
}

.review-form-content button {
  margin-left: 10px;
}

/* マイページ */
.mypage {
  width: 60%;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-image {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.underline {
  border: none;
  border-top: 1px solid black;
  width: 100%;
  margin: 0;
}

.review-list {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  background-attachment: #FFCC99;
}

.review-item {
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 30px;
}

.review-image {
  width: 80px;
  height: 80px;
}

.review-content {
  margin-left: 10px;
  text-align: left;
}

.review-summary {
  text-align: right;
  margin-left: auto;
}

.review-actions {
  text-align: right;
}

.review-actions button {
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 10px;
}

.delete-button {
  background-color: red;
  color: white;
}

/* レビュー削除 */
.review-form-content p {
  text-align: left;
}

/* コミュニティ */
.community {
  width: 50%;
}

.comments-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment {
  display: flex;
  align-items: flex-start;
}

.comment-content {
  flex-direction: column;
  text-align: left;
}

.user-name {
  font-weight: bold;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}