body {
  background: #ffcc99;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: absolute;
  /* レスポンシブ対応のため、marginを削除 */
  margin-left: 50%;
  font-size: 25px;
}

.button-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap; /* ボタンが画面幅に収まるようにする */
}

button {
  padding: 20px 30px;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 15px;
}

button:hover {
  background-color: #FFE8D1;
}

/* レスポンシブデザインのためのメディアクエリ */
@media (max-width: 768px) {
  .button-container {
    flex-direction: column; /* 画面幅が狭いときは縦に並べる */
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%; /* 小さい画面ではコンテナの幅を狭くする */
  }

  button {
    width: 100%; /* ボタンを画面幅いっぱいに */
    padding: 10px 0; /* パディングを調整 */
  }

  h1 {
    font-size: 24px; /* 見出しのサイズを調整 */
  }
}