<h2 class="">マイページ</h2>
<div class="mypage">
  <div class="user-profile">
    <img src="<%= image_path('kkrn_icon_user_5.png') %>" alt="User Image" class="user-image">
    <p>ユーザー名: ○○</p>
  </div>

  <div class="review-list">
    <p>レビュー一覧</p>
    <hr class="underline">
    
    <div class="review-item">
      <img src="<%= image_path('kkrn_icon_user_5.png') %>" alt="Review Image" class="review-image">
      <div class="review-content">
        <p>店名</p>
        <p>★★★★★</p>
        <p class="review-text">テキストテキストテキスト</p>
      </div>
      <div class="review-summary">
        <p>サービス : 非常に良い</p>
        <p>価格 : 非常に良い</p>
        <p>雰囲気 : 非常に良い</p>
      </div>
    </div>

    <div class="review-actions">
      <button>編集</button>
      <button class="delete-button">削除</button>
    </div>
  </div>
</div>