<header class="site-header">
  <div class="header-container">
    <h1 class="logo">散歩 de グルメ</h1>
    <nav class="main-nav">
      <ul>
        <li><a href="<%= new_user_session_path %>">ログイン</a></li>
        <li><a href="<%= new_user_registration_path %>">新規登録</a></li>
      </ul>
    </nav>
    <div class="menu-icon">
      <span class="menu-icon-bar"></span>
      <span class="menu-icon-bar"></span>
      <span class="menu-icon-bar"></span>
    </div>
  </div>
</header>